// Colors
$color-lightTeal: #8FAFB1;
$color-lightRed: #d49a89;
$color-lightOrange: #f6d7c3;
$color-white: #ffffff;
$color-black: #000000;

// Margin
$margin-auto: 0 auto;

// Text Manipulation
$text-left: left;
$text-center: center;