@import "../styles/variables.scss";

// Home Page
.info-block {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  text-align: center; 
  height: 80vh;

  &-one {
    background-color: red; 
  }

  &-two {
    background-color: blue;
  }

  &-three {
    background-color: green;
  }
}

// Contact Page
.contact {
  display: grid;
  grid-template-columns: 5fr 5fr;

  &-info {
    padding: 2rem;
  };

  &-form {
    padding: 2rem;

    > {
      display: flex;
      flex-direction: column;
    }
  }
}

// FAQ Page
.title {
  text-align: center;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-card {
    background-color: lightcoral;
    padding: 1rem;
    margin: 1rem 1rem 3rem 1rem;
    width: 30%;
    box-shadow: 2px 2px 9px #555;
    border-radius: 5px;
  }
}

// Coming Soon Page
.coming-soon {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  > h2 {
    margin-top: -3rem;
    margin-left: 3rem;
    transform: scale(250%);
    color: $color-lightTeal;
    font-family: "Gotham Rounded Light", "Arial", "sans-serif";
  }
}

// Not Found Page
.not-found {
  text-align: center;
  display: flex;
  align-items: center;

  &-btn {
    background-color: $color-lightRed;
    color: white;
    font-weight: bold;
    width: 5%;
    padding: .5rem;
    border-radius: 5px;
  }
}

@media (max-width: 960px) {
  .coming-soon-logo {
    max-width: 50vh;
  };

  .coming-soon-header {
    width: 25%;
    padding: 3em 1rem 0 0;
  };
}