@import "../styles/variables.scss";

// Coming Soon Page
.coming-soon {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  > h2 {
    margin-top: -3rem;
    margin-left: 3rem;
    transform: scale(250%);
    color: $color-lightTeal;
    font-family: "Gotham Rounded Light", "Arial", "sans-serif";
  }
}

// Not Found Page
.not-found {
  text-align: center;
  display: flex;
  align-items: center;

  &-btn {
    background-color: $color-lightRed;
    color: white;
    font-weight: bold;
    width: 5%;
    padding: .5rem;
    border-radius: 5px;
  }
}

@media (max-width: 960px) {
  .coming-soon-logo {
    max-width: 50vh;
  };

  .coming-soon-header {
    width: 25%;
    padding: 3em 1rem 0 0;
  };
}