@import "../styles/variables.scss";
@import "../styles/mixins.scss";

// Banner styling
.banner {
  background-color: $color-lightRed;
  height: 5%;
  width: 100%;
  padding: .5em 0 .5em 0;
  color: $color-white;

  @include respond(phone) {
    width: 100%;
    font-size: 1rem;
    max-height: 100%;

    &-content {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      height: 3rem;
      padding: 0;
    }

  }
  
  &-content {
    text-align: right;
    margin: 0;
    padding-right: 2rem;
  }
}


// Header styling
.header {
  background-color: $color-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid $color-lightTeal;
  height: 100%;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    &-logo {
      margin: 0 auto;

      > img {
        width: 300px;
        height: 240px;
      }
    }

  }
  
  &-logo {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    align-self: center;
    margin-left: 2rem;
  }
  
  .page-links {
    justify-content: center;
    align-self: center;
    margin-right: 5rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }

    .header-link {
      color: #444;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 900;
      padding: 1rem;
      transition: .3s ease;

      &:hover {
        text-decoration: underline $color-lightTeal 3px;
        color: $color-lightTeal
      }
    }
  }

// Header Dropdown Styling
.fa-bars {
  font-size: 1.25rem;
  padding: 1rem;
}

.nav {
  // text-align: center; 
  // display: flex;
  // justify-content: center;
  padding: 1rem;


  &-list {
    list-style: none;
  }
}

.dropdown-link {
  margin: 0 auto;
  color: #444;
  text-decoration: none;

}

// Footer styling
.footer {
  background-color: $color-lightRed;
  color: $color-white;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;

  @include respond(phone) {
    width: 100%;
    display: block;
  }

  .social-links {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-content: space-around;
  }

  .instagram {
    margin-right: 1rem;
    font-size: 1.5rem;

    &-link {
      margin-right: 1rem;
      font-size: 1rem;
      color: $color-white;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
      text-decoration: underline $color-lightTeal 3px;
      }
    }
  }

  .facebook {
    margin-right: 1rem;
    font-size: 1.5rem;
    transition: 0.3s ease;

    &:hover {
      color: $color-lightTeal;
      font-size: 2.5rem;
    }
  }
  .facebook-link {
    font-size: 1rem;
    color: $color-white;
    text-decoration: underline $color-lightTeal 3px;
    transition: 0.3s ease;
  }

  .email-link {
    color: $color-white;
    transition: 0.3s ease;
    text-decoration: underline $color-lightTeal 3px;
  }
}