@import "../styles/variables.scss";

// Banner styling
.banner {
  background-color: $color-lightRed;
  height: 5%;
  width: 100%;
  padding: .5em 0 .5em 0;
  color: $color-white;
  
  &-content {
    text-align: right;
    margin: 0;
    padding-right: 2rem;
  }
}


// Header styling
.header {
  background-color: $color-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid $color-lightTeal;
  
  &-logo {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    align-self: center;
    margin-left: 2rem;
  }
  
  .page-links {
    justify-content: center;
    align-self: center;
    margin-right: 5rem;

    .header-link {
      color: #444;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 900;
      padding: 1rem;
      transition: .3s ease;

      &:hover {
        text-decoration: underline $color-lightTeal;
        color: $color-lightTeal
      }
    }
  }
}

// Footer styling
.footer {
  background-color: $color-lightRed;
  color: $color-white;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;

  .social-links {
    margin: 1rem;
  }
  .instagram {
    font-size: 2.5rem;
    color: $color-white;
    transition: 0.3s ease;

    &:hover {
      color: $color-lightOrange;
    }
  }

  .email-link {
    color: $color-white;
    transition: 0.3s ease;

    &:hover {
      background-color: $color-lightOrange;
      color: #555;
      width: inherit;
      padding: .5rem;
      border-radius: 5px;
    }
  }
}

@media (max-width: 960px) {
  .banner {
    width: 100%;
    font-size: 1rem;
    // text-align: center;
    max-height: 100%;
    
    &-content {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: 2rem;
      height: 3rem;
      padding: 0;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;

      > img {
        width: 300px;
        height: 240px;
      }
    }
    
    .page-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

    }
  }

  .footer {
    width: 100%;

  }
}
