body {
  margin: 0;
  font-family: "Gotham Rounded Light", "Gotham", "Arial", "sans-serif";
  position: relative;
  height: 100%;
  width: 100%;
  color: #444;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 960px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}